.post-list {
    list-style: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    max-width: 50rem;
    margin: 1rem auto;
    padding: 1rem 0;
}

.status {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
}